.container-fluid
{
	height: 1530px;
}



#header
{
	/*border: 1px solid green;*/
	height: 50px;
	margin-top: 1%;
}

.col-md-12
{
	/*border: 1px solid black;*/
	height: 300px;
}

.col-md-3
{
	height: 800px;
	border: 1px solid blue;
    background-color: aliceblue;
    border-style: dashed;
	 border-width: 3px;
	border-radius: 5px;
	border-color : cornflowerblue;

}

#footer
{
	/*border: 1px solid black;*/
	height: 280px;
	margin-top: 3%;
}

.col-md-8
{
	/*border: 3px solid purple;*/
	float: right;
	margin: 0 2%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
  align-items: center;
  grid-gap: 15px;
  box-sizing: border-box
}
.grid-container{
	height: 100%;
	position: relative;
	box-sizing: border-box;
	/*border: 5px solid #14a76c;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid-item{
	/*background-color: #ccffe6;*/
	/*border: 5px solid #008040;*/
	padding :20px;
}

.gallery_container{
	width:100%;
	height:600px;
	margin: 0  auto;
	box-shadow: 0px 0px 3px 1px #00000078;

	overflow: hidden;
     user-select: none;
	box-sizing: border-box;
}
.gallery_container .prev,.next
{
 position: absolute;
 height:45px;
 width:45px;
 text-align: center;
 font-size: 30px;

 line-height: 40px;
 border-radius: 8px 8px 8px 8px;
  user-select: none;
 top:25%;
 transition: all .5s ease;

 background-color: #444444;
 color:#ffffff

}
.gallery_container .prev:hover,.next:hover
{
box-shadow: 0px 0px 10px black;
 background-color: rgba(0,0,0,0.8);

}
.gallery_container .prev
{

	left:30px;
}
.gallery_container .next
{
	right:30px;
}
.gallery_container .slides{
	width:100%;
	height:100%;
	display:flex;
	position:relative;
}

.flip-card {
  /*background-color: transparent;*/
  /*width: 300px;
  height: 300px;*/
  height: 80%;
  width: 90%;
  margin: 10% 3%;
  /*margin: 40% 30%;*/
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: lightblue;
  color: white;
  transform: rotateY(180deg);

}

#map-div
{
	float: left;
	/*border: 1px solid red;*/
	margin-left: -16px;
}

#about-us
{
	float: left;
	height: 275px;
	border: none;
	margin-left: -1%;
	background-color: white;
	/*border: 1px solid green;*/
}

#abt-us
{
	margin: 2% 0;
}

.dot
{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.details
{
	display: inline;
	position: absolute;
	margin: -1% 3%;
}

.details-other
{
	display: inline;
	position: absolute;
	margin: -6% 10%;
}

#pages
{
	/*border: 1px solid brown;*/
	float: left;
	height: 275px;
	margin-left: 1%;
}

#contact-form
{
	/*border: 1px solid purple;*/
	float: left;
	border: none;
	height: 275px;
	margin-left: 1%;
	background-color: white;
}

.navigate-items
{
	margin: 6% 0;
}


.form-icons
{
	position: absolute;
	margin-left: 1%;
}
