.styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}
.styled-table th,
.styled-table td {
padding: 12px 15px;
}
.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
font-weight: bold;
color: #009879;
}


a
{
text-decoration: none;
}

h1
{
margin-top: 5%;
}

.nav{
    
    background-color: #5F9EA0;
    margin-top: -4%;
}

.nav h1
{
  text-align: center;
  color: white;
  padding: 12px 0px;
}

/*ul {

  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #5F9EA0;
}

li {
  float: left;
  margin: 12px 0px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* Change the link color to #111 (black) on hover */
/*li a:hover {
  color: #111;
}*/
